.headSec {
    background: url("/assets/Site/Banner.jpg");
     background-repeat: no-repeat;
     background-size:100% 100%;
    min-height:10px;
    background-color: #b3e0ff;
    width: 100%;
    margin-bottom:10px;
    overflow: auto;
    
}


.headSec h1 {
    color: #1f1f1f;
    font-size: 70px;
    padding: 15px;
    text-indent: 420px;
    font-family: "Goudy Stout";
}

ul { 
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;    
    
}

li {float:left;}

li a {
    display: block;
    color: #ffffff;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    
}


.mainCont { 
    
    margin: auto;
    width:80%;
    border: 3px solid #b3e0ff;
    padding: 10px;
    text-align: center;
}

.welcomeIm {width: 30%;}

#strapline { 
    color: #ffffff;
    text-align: center;
    margin: auto;
    width:80%;
    border: 3px solid #b3e0ff;
    padding: 10px;
    text-align: center;
}

.foot {
    min-height: 80px;
    background-color: #b3e0ff;
    width: 100%;
    margin-top: 10px;
    overflow: auto;
    
    
}

.container {
      background: url("/assets/Site/clubhead.png");
      background-repeat:no-repeat;
      background-position:right bottom;
      width: 100%;
      min-height: 700px;
}

#recipesContainer {
    width: 100%;
    text-align: center;
    color: #00688b;
    
}


#recipesContainer h1 {
   display: block;
    color: #00688b;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    
    
}


.recipehols {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    display: inline-block;
    width: 33%;
    padding:10px;
    min-height: 300px;    
    background:#f0f8ff;
    border: 2px solid grey;
    border-radius: 5px;
}


.recipehols h1 {
   display: block;
    color: #00688b;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 24px
    
}


.recipehols p {
   display: block;
    color: #00688b;
    text-align: center;
    padding: 2px 12px;
    text-decoration: none;
    font-size: 16px
    
}



.recipeholsIm {
    width: 75%; 
    margin-left: auto; 
    margin-right: auto; 
    display: block;
    
}


.button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

#customers {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

#customers td, #customers th {
    border: 1px solid #ddd;
    padding: 8px;
}

#customers tr:nth-child(even){background-color: #f2f2f2;}
#customers tr:nth-child(odd){background-color: #e6e6e6;}

#customers tr:hover {background-color: #ddd;}

#customers th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #4CAF50;
    color: white;
}

#page-container{
    width: 95%;
    margin: auto;
    padding: 10;
    color: #00688b;
}

#recipe-page{
    width: 95%;
    margin: auto;
    padding: 10;
   background-image: url("/assets/Site/Board.jpg");
   background-repeat: no-repeat;
   background-size: cover;
    color: #00688b;
}

#recipe-header{
    padding: 5px 10px; 
 
}

#recipe-image{
    float:left;
    border: 2px solid grey;
}

#recipe-info{
    
    float:left;
    padding: 5px;
    margin-left: 5%;
    margin-right: 15%;
    clear:both;
}

#recipe-desc{
    width:50%;
    float:left;
    background:#f0f8ff;
    padding: 5px;
    margin-right: 10%;
    border: 2px solid grey;
    border-radius: 5px;
}

#recipe-sidebar{
    background:#f0f8ff;
    float:left;
    width:50%;
    margin-left: 5%;
    border: 2px solid grey;
    border-radius: 5px;
    
}

#recipe-footer{
    clear:both;
}

#static{
      background: url("/assets/Site/Parchment.jpg");
      background-repeat:no-repeat;
      background-size:cover;
      padding: 1%;
}